# This is a example for the keystore.properties file.
# Copy this file to keystore.properties and fill in your actual credential values.
# The keystore.properties file is ignored by git.

storeFile=
storePassword=
keyAlias=
keyPassword= 